<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d61d88c9-47c7-4738-a9aa-92747a7f2f04/resourceGroups/OctopusOffPeak_group/providers/Microsoft.Web/sites/OctopusOffPeak</ResourceId>
    <ResourceGroup>OctopusOffPeak_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://octopusoffpeak.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://octopusoffpeak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$OctopusOffPeak</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>